


/* ----- PORTADA -----  */
/* .portada {
	width: 100%;
	background: #CCC;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: .5s ease-out all;
}
/*  */
	/* .container {
	
	text-transform: uppercase;
	letter-spacing: 3px;
} */ */

/* .portada .container .logotipo {
	font-size: 50px;
	font-size: 900;
	margin-bottom: 20px;
}

.mensaje {
	font-size: 30px;
	font-weight: 600;
}
 */


/* ? ----- MAIN ----- */
/* main {
	max-width: 1000px;
	margin: auto;
	width: 90%;
	padding: 50px 0;
	font-size: 18px;
	line-height: 28px;
	text-align: left;
} */



/* ? ----- Cuenta Regresiva ----- */

/* ? ---------------------------- */


