.my-nav{
    font-size: 3em;
}

.my-title{
    color: #ffff;
    font-size: 2.5em;
    padding-left: 35%;
    margin-top: 10%;
}

 .container-image{
    width: 25%;
    margin-right: 5%;
    
} 

.my-image{
    width: 100%;
    border-radius: 90%;
}


.my-button{
    padding: 8%;
    
}

@media screen and (max-width: 769px) and (min-width: 336px){
   
    
    .my-title{
        font-size: 1em;
    }

    
}

@media screen and (max-width: 335px){

    .my-title{
        font-size: 1em;
    }
}